services:
  db:
    image: postgres:16-alpine
    container_name: coloring-postgres
    environment:
      POSTGRES_USER: coloring
      POSTGRES_PASSWORD: coloring
      POSTGRES_DB: coloring_db
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: coloring-service
    environment:
      # JWT setting
      JWT_SECRET: "change_this_to_a_long_random_string_123456789"

      # admin account
      ADMIN_USERNAME: "admin"
      ADMIN_PASSWORD_HASH: "$2b$12$wZf4tyr7BRJNTT5CUTZR1.v/xOE0Yl2VOR7npN8sJO1eHZKdJ38rm"

      # DB
      DATABASE_URL: postgresql+psycopg://coloring:coloring@db:5432/coloring_db
    ports:
      - "8000:8000"
    volumes:
      - ./backend/uploads:/app/backend/uploads
    depends_on:
      - db
    restart: unless-stopped

volumes:
  pgdata:
